* {

    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 1em 0;
}

#contenido {

    background-color: darkgray;
    margin: 1em auto;
    width: min( 30em, 100% );
    border-radius: .8em;
    padding-bottom: 2em;
    padding-left: 0.5em;

}

#contenedor-campo {
    margin: 1em 0 0 0;
    padding-top: 1em;
}

.campos {
    margin: 1em 2em 0 2em;
    font-weight: bold;
    font-size: 1.2em;
}

#contenedor-valores {
    display: flex;
}

#contenedor-cotizar {
    margin-top: 5em;
}

#contenedor-cotizar h2{
    font-size: 2em;
    text-align: center;
}

#contenedor-campo {
    margin: 1em 0;
}

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}

.input-text {
    height: 2.4em;
    width: 100%;
    margin-top: .8em;
    padding-left: .4em;
    border: none;
    border-radius: .3em;
}

#txtValor {
    border: 1px solid;
    
}

#Enganche {
    background-color: white;
    height: 2em;
    width: 97.41%;
    border: none;
    border-radius: .3em;
    margin-bottom: 1em;
    margin-top: .8em;
    margin: .8em 0 1em 0;
    font-size: .8em;
    padding-top: 5px;
}

#Financiar {
    background-color: white;
    height: 2em;
    width: 97.41%;
    margin: .8em 0 1em 0; 
    margin-bottom: 1em;
    margin-top: .8em;
    border: none;
    border-radius: .3em;
    font-size: .8em;
    padding-top: 5px;
}

#Mes {
    background-color: white;
    height: 2em;
    width: 97.41%;
    margin-bottom: 1em;
    margin-top: .8em;
    margin: .8em 0 1em 0;
    border: none;
    border-radius: .3em;
    font-size: .8em;
    padding-top: 5px;
}

#pagoM {

    height: 2em;
    width: 97.41%;
    font-size: .9em;
    margin-top: .8em;
    margin-bottom: 1em;
}


#contenedor-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    #contenedor-btn {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }


    
}

@media (max-width: 768px) {

    #btnLimpiar {
        text-decoration:none;
        font-weight: 600;
        font-size: 20px;
        color:#ffffff;
        padding-top:15px;
        padding-bottom:15px;
        padding-left:40px;
        padding-right:40px;
        background-color:#f2595e;
        border-color: #F69DA1;
        border-width: 3px;
        border-style: solid;
        width: 90%;
    }

}

#btnLimpiar {
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#ffffff;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#f2595e;
    border-color: #F69DA1;
    border-width: 3px;
    border-style: solid;
}

@media (max-width: 768px) {

    #btnCalcular {
        text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#ffffff;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#f2595e;
    border-color: #F69DA1;
    border-width: 3px;
    border-style: solid;
    width: 90%;
        
    }

}

#btnCalcular {
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#ffffff;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#f2595e;
    border-color: #F69DA1;
    border-width: 3px;
    border-style: solid;
}

#errorValor {
    font-weight: bold;
    font-size: 1.4em;
}